# This workflow will execute xygeni scanner deployed in the LabDev environment on demand.
# Reports will be uploaded with the user nicolas.carmona+dogfooding@xygeni.io

name: Testing-Demo

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  xygeni-scan:
  
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      with:
        fetch-depth: 0


    - name: Xygeni-Scanner-Demo
      uses: xygeni/xygeni-action@4e94e5ea737f5ebfedac8b1a5b75d8c60c21932d
      id: Xygeni-Scanner
      with:
        command: scan --never-fail -e '**/foo.xml' -o ./intellij.json -f json
        token: ${{ secrets.XYGENI_TOKEN_DEMO }}
        gh_token: ${{ secrets.GH_PAT_FOR_DOGFOODING }}
        xygeni_url: https://apidemo.xygeni.io/deps-doctor-service
    - name: Upload scan report result (deps)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: deps.intellij.json
          path: ./deps.intellij.json
          retention-days: 1
    - name: Upload scan report result (suspectdeps)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: suspectdeps.intellij.json
          path: ./suspectdeps.intellij.json
          retention-days: 1
    - name: Upload scan report result (secrets)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: secrets.intellij.json
          path: ./secrets.intellij.json
          retention-days: 1
    - name: Upload scan report result (misconf)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: misconf.intellij.json
          path: ./misconf.intellij.json
          retention-days: 1
    - name: Upload scan report result (iac)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: iac.intellij.json
          path: ./iac.intellij.json
          retention-days: 1
    - name: Upload scan report result (malware)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: malware.intellij.json
          path: ./malware.intellij.json
          retention-days: 1
    - name: Upload scan report result (sast)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
      with:
          name: sast.intellij.json
          path: ./sast.intellij.json
          retention-days: 1
          
